
 
    img {
        width: 80px; 
        height: 80px;
    }

    .tam-icone {
        width: 10%;
    }
    .tam-text {
        width: 90%;
    } 
   
    .top {
        top: 50px;
        position: relative;
    }
   
    .bg-page {
        background: #472a7d;
    }
    .digite-email {
        color: gray
    }
    .input-email {
        border: 1px solid grey;
        padding: 10px;
        border-radius: 4px;
        background: white;
        margin: 20px;
        width: 85%;
        height: 28px;
    }
    .bt-google{
        border: 1px solid grey;
        padding: 10px;
        border-radius: 4px;
        background: white;
        margin: 20px;
        width: 90%;
    }
    
    .borda {
        width: 400px;
        border: 1px solid grey;
        border-radius: 20px;
    }

    .criar-conta {
        color: white;
        display: flex;
        justify-content: center;
    }

   